insurances/src/main/resources/wsdl/beneficiariesSearch.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.2-hudson-740-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.2-hudson-740-. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://gentera.com.mx/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://gentera.com.mx/" name="beneficiariesSearch">
	<types>
		<xs:schema xmlns:tns="http://gentera.com.mx/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
			targetNamespace="http://gentera.com.mx/">
			<!-- Elements -->
			<xs:element name="beneficiariesSearch" type="tns:beneficiariesSearch" />
			<xs:element name="beneficiariesSearchResponse" type="tns:beneficiariesSearchResponse" />
			
			<!-- Request -->
			<xs:complexType name="beneficiariesSearch">
				<xs:sequence>
					<xs:element name="insuranceID" type="xs:string" minOccurs="0" />
					<xs:element name="mode" type="xs:string" minOccurs="0" />
					<xs:element name="coverageID" type="xs:string" minOccurs="0" />
					<xs:element name="partnerID" type="xs:string" minOccurs="0" />
					<xs:element name="affectedID" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="beneficiariesSearchResponse">
				<xs:sequence>
					<xs:element name="return" type="tns:beneficiariesSeachRespMsgDataType" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType
				name="beneficiariesSeachRespMsgDataType">
				<xs:sequence>
					<xs:element name="beneficiariesSearchList"
						type="tns:beneficiaryDataType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="beneficiaryDataType">
				<xs:sequence>
					<xs:element name="additionalFamilyName" type="xs:string" minOccurs="0" />
					<xs:element name="addressType" type="xs:string" minOccurs="0" />
					<xs:element name="age" type="xs:int" minOccurs="0" />
					<xs:element name="birthday" type="xs:dateTime" minOccurs="0" />
					<xs:element name="businessPartnerID" type="xs:string" minOccurs="0" />
					<xs:element name="cellphone" type="xs:string" minOccurs="0" />
					<xs:element name="cityName" type="xs:string" minOccurs="0" />
					<xs:element name="countryName" type="xs:string" minOccurs="0" />
					<xs:element name="districtName" type="xs:string" minOccurs="0" />
					<xs:element name="exteriorHouseID" type="xs:string" minOccurs="0" />
					<xs:element name="familyName" type="xs:string" minOccurs="0" />
					<xs:element name="gender" type="xs:string" minOccurs="0" />
					<xs:element name="givenName" type="xs:string" minOccurs="0" />
					<xs:element name="homePhone" type="xs:string" minOccurs="0" />
					<xs:element name="interiorHouseID" type="xs:string" minOccurs="0" />
					<xs:element name="maritalStatus" type="xs:string" minOccurs="0" />
					<xs:element name="marriedFamilyName" type="xs:string" minOccurs="0" />
					<xs:element name="middleName" type="xs:string" minOccurs="0" />
					<xs:element name="officePhone" type="xs:string" minOccurs="0" />
					<xs:element name="percentage" type="xs:string" minOccurs="0" />
					<xs:element name="postalCode" type="xs:string" minOccurs="0" />
					<xs:element name="regionName" type="xs:string" minOccurs="0" />
					<xs:element name="relationshipName" type="xs:string" minOccurs="0" />
					<xs:element name="roleCode" type="xs:string" minOccurs="0" />
					<xs:element name="streetName" type="xs:string" minOccurs="0" />
					<xs:element name="taxID" type="xs:string" minOccurs="0" />
					<xs:element name="zone" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="beneficiariesSearch">
		<part name="parameters" element="tns:beneficiariesSearch" />
	</message>
	<message name="beneficiariesSearchResponse">
		<part name="parameters" element="tns:beneficiariesSearchResponse" />
	</message>
	<portType name="beneficiariesSearch">
		<operation name="beneficiariesSearch">
			<input
				wsam:Action="http://gentera.com.mx/beneficiariesSearch/beneficiariesSearchRequest"
				message="tns:beneficiariesSearch" />
			<output
				wsam:Action="http://gentera.com.mx/beneficiariesSearch/beneficiariesSearchResponse"
				message="tns:beneficiariesSearchResponse" />
		</operation>
	</portType>
	<binding name="beneficiariesSearchPortBinding"
		type="tns:beneficiariesSearch">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="beneficiariesSearch">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="beneficiariesSearch">
		<port name="beneficiariesSearchPort"
			binding="tns:beneficiariesSearchPortBinding">
			<soap:address
				location="http://10.130.5.169:8080/insurances/beneficiariesSearch" />
		</port>
	</service>
</definitions>