insurances/src/main/resources/wsdl/getAffectedName.wsdl

<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://gentera.com.mx/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://gentera.com.mx/" name="getAffectedName">
	<types>
		<xs:schema xmlns:tns="http://gentera.com.mx/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
			targetNamespace="http://gentera.com.mx/">
			<!-- Elements -->
			<xs:element name="getAffectedName" type="tns:getAffectedName" />
			<xs:element name="getAffectedNameResponse" type="tns:getAffectedNameResponse" />

			<!-- Request -->
			<xs:complexType name="getAffectedName">
				<xs:sequence>
					<xs:element name="claimID" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<!--Response -->
			<xs:complexType name="getAffectedNameResponse">
				<xs:sequence>
					<xs:element name="return" type="tns:getAffectedResponse" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getAffectedResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="cadena" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="getAffectedName">
		<part name="parameters" element="tns:getAffectedName">
		</part>
	</message>
	<message name="getAffectedNameResponse">
		<part name="parameters" element="tns:getAffectedNameResponse"></part>
	</message>
	<portType name="getAffectedName">
		<operation name="getAffectedName">
			<input
				wsam:Action="http://gentera.com.mx/getAffectedName/getAffectedNameRequest"
				message="tns:getAffectedName" />
			<output
				wsam:Action="http://gentera.com.mx/getAffectedName/getAffectedNameResponse"
				message="tns:getAffectedNameResponse" />
		</operation>
	</portType>
	<binding name="getAffectedNamePortBinding" type="tns:getAffectedName">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="getAffectedName">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="getAffectedName">
		<port name="getAffectedNamePort"
			binding="tns:getAffectedNamePortBinding">
			<soap:address
				location="http://172.18.46.1:8080/insurances/getAffectedName" />
		</port>
	</service>
</definitions>