insurances/src/main/resources/wsdl/getPaymentType.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.2-hudson-740-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.2-hudson-740-. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://gentera.com.mx/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://gentera.com.mx/" name="GetPaymentType">
	
	
	<types>
		<xs:schema xmlns:tns="http://gentera.com.mx/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
			targetNamespace="http://gentera.com.mx/">
			<!-- Element -->
			<xs:element name="GetPaymentType" type="tns:GetPaymentType" />
			<xs:element name="GetPaymentTypeResponse" type="tns:GetPaymentTypeResponse" />
			
			<!-- Request -->
			<xs:complexType name="GetPaymentType">
				<xs:sequence>
				  <xs:element name="partnerID" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<!-- Response -->
			<xs:complexType name="GetPaymentTypeResponse">
				<xs:sequence>
					<xs:element name="return" type="tns:claimGetPaymentTypeRspType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="claimGetPaymentTypeRspType">
				<xs:sequence>
					<xs:element name="claimGetPaymentTypeResult" type="tns:claimGetPaymentTypeRspDataType" nillable="true"
						minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="claimGetPaymentTypeRspDataType">
				<xs:sequence>
					<xs:element name="descripcion" type="xs:string" minOccurs="0" />
					<xs:element name="id" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="GetPaymentType">
		<part name="parameters" element="tns:GetPaymentType" />
	</message>
	<message name="GetPaymentTypeResponse">
		<part name="parameters" element="tns:GetPaymentTypeResponse" />
	</message>
	<portType name="GetPaymentType">
		<operation name="GetPaymentType">
			<input
				wsam:Action="http://gentera.com.mx/GetPaymentType/GetPaymentTypeRequest"
				message="tns:GetPaymentType" />
			<output
				wsam:Action="http://gentera.com.mx/GetPaymentType/GetPaymentTypeResponse"
				message="tns:GetPaymentTypeResponse" />
		</operation>
	</portType>
	<binding name="GetPaymentTypePortBinding"
		type="tns:GetPaymentType">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="GetPaymentType">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="GetPaymentType">
		<port name="GetPaymentTypePort"
			binding="tns:GetPaymentTypePortBinding">
			<soap:address
				location="http://172.18.40.7:8080/WebServicesSIMA/GetPaymentType" />
		</port>
	</service>
</definitions>