insurances/src/main/resources/wsdl/relationshipDataQuery.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.2-hudson-740-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.2-hudson-740-. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://gentera.com.mx/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://gentera.com.mx/"
	name="relationshipDataQueryService">
	<types>
		<xs:schema xmlns:tns="http://gentera.com.mx/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
			targetNamespace="http://gentera.com.mx/">
			<xs:element name="relationshipDataQuery"
				type="tns:relationshipDataQuery" />
			<xs:element name="relationshipDataQueryResponse"
				type="tns:relationshipDataQueryResponse" />
			<xs:complexType name="relationshipDataQuery">
				<xs:sequence>
					<xs:element name="insuranceID" type="xs:string" minOccurs="0" />
					<xs:element name="partnerID" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="relationshipDataQueryResponse">
				<xs:sequence>
					<xs:element name="return"
						type="tns:relationshipDataRespMsgDataType" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="relationshipDataRespMsgDataType">
				<xs:sequence>
					<xs:element name="relationshipSearchList"
						type="tns:relationshipDataType" nillable="true" minOccurs="0"
						maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="relationshipDataType">
				<xs:sequence>
					<xs:element name="additionalFamilyName" type="xs:string" minOccurs="0" />
					<xs:element name="birthday" type="xs:dateTime" minOccurs="0" />
					<xs:element name="businessPartnerID" type="xs:string" minOccurs="0" />
					<xs:element name="cityName" type="xs:string" minOccurs="0" />
					<xs:element name="countryName" type="xs:string" minOccurs="0" />
					<xs:element name="districtName" type="xs:string" minOccurs="0" />
					<xs:element name="exteriorHouseID" type="xs:string" minOccurs="0" />
					<xs:element name="familyName" type="xs:string" minOccurs="0" />
					<xs:element name="gender" type="xs:string" minOccurs="0" />
					<xs:element name="givenName" type="xs:string" minOccurs="0" />
					<xs:element name="homePhone" type="xs:string" minOccurs="0" />
					<xs:element name="interiorHouseID" type="xs:string" minOccurs="0" />
					<xs:element name="maritalStatus" type="xs:string" minOccurs="0" />
					<xs:element name="marriedFamilyName" type="xs:string" minOccurs="0" />
					<xs:element name="middleName" type="xs:string" minOccurs="0" />
					<xs:element name="percentage" type="xs:double" minOccurs="0" />
					<xs:element name="postalCode" type="xs:string" minOccurs="0" />
					<xs:element name="regionName" type="xs:string" minOccurs="0" />
					<xs:element name="relationshipName" type="xs:string" minOccurs="0" />
					<xs:element name="roleName" type="xs:string" minOccurs="0" />
					<xs:element name="streetName" type="xs:string" minOccurs="0" />
					<xs:element name="taxID" type="xs:string" minOccurs="0" />
					<xs:element name="test" type="xs:int" minOccurs="0" />
					<xs:element name="zone" type="xs:string" minOccurs="0" />
					<xs:element name="curp" type="xs:string" minOccurs="0" />
					<xs:element name="ageFamily" type="xs:int" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="relationshipDataQuery">
		<part name="parameters" element="tns:relationshipDataQuery" />
	</message>
	<message name="relationshipDataQueryResponse">
		<part name="parameters"
			element="tns:relationshipDataQueryResponse" />
	</message>
	<portType name="relationshipDataQuery">
		<operation name="relationshipDataQuery">
			<input
				wsam:Action="http://gentera.com.mx/relationshipDataQuery/relationshipDataQueryRequest"
				message="tns:relationshipDataQuery" />
			<output
				wsam:Action="http://gentera.com.mx/relationshipDataQuery/relationshipDataQueryResponse"
				message="tns:relationshipDataQueryResponse" />
		</operation>
	</portType>
	<binding name="relationshipDataQueryPortBinding"
		type="tns:relationshipDataQuery">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="relationshipDataQuery">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="relationshipDataQueryService">
		<port name="relationshipDataQueryPort"
			binding="tns:relationshipDataQueryPortBinding">
			<soap:address
				location="http://10.130.5.165:8080/insurances/relationshipDataQuery" />
		</port>
	</service>
</definitions>