medicos/src/main/resources/wsdl/flagCoverage.wsdl

<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://gentera.com.mx/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://gentera.com.mx/" name="getFlagCoverage">

	<types>
		<xs:schema xmlns:tns="http://gentera.com.mx/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
			targetNamespace="http://gentera.com.mx/">
			<xs:element name="coverage" type="tns:coverage" />
			<xs:element name="coverageResponse" type="tns:coverageResponse" />

			<xs:complexType name="coverage">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="coverageResponse">
				<xs:sequence>
					<xs:element name="return" type="tns:coverageRespMsgDataType"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="coverageRespMsgDataType">
				<xs:sequence>
					<xs:element name="coverageList"
						type="tns:coverageDataType" nillable="true"
						minOccurs="0"
						maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="coverageDataType">
				<xs:sequence>
					<xs:element name="flagCoverage" type="xs:string"
						minOccurs="0" />
					<xs:element name="coverageName" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="coverage">
		<part name="parameters" element="tns:coverage" />
	</message>
	<message name="coverageResponse">
		<part name="parameters" element="tns:coverageResponse" />
	</message>
	<portType name="getFlagCoverage">
		<operation name="coverage">
			<input
				wsam:Action="http://gentera.com.mx/getFlagCoverage/getFlagCoverageRequest"
				message="tns:coverage" />
			<output
				wsam:Action="http://gentera.com.mx/getFlagCoverage/getFlagCoverageResponse"
				message="tns:coverageResponse" />
		</operation>
	</portType>
	<binding name="getFlagCoveragePortBinding" type="tns:getFlagCoverage">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="coverage">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="getFlagCoverage">
		<port name="getFlagCoveragePort"
			binding="tns:getFlagCoveragePortBinding">
			<soap:address
				location="http://10.130.5.169:8080/medicos/getFlagCoverage" />
		</port>
	</service>
</definitions>