medicos/src/main/resources/wsdl/getPromotersByOffice.wsdl

<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://gentera.com.mx/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://gentera.com.mx/" name="getPromotersByOffice">

	<types>
		<xs:schema xmlns:tns="http://gentera.com.mx/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
			targetNamespace="http://gentera.com.mx/">

			<xs:element name="getPromotersByOffice"
				type="tns:getPromotersByOffice" />
			<xs:element name="getPromotersByOfficeResponse"
				type="tns:getPromotersByOfficeResponse" />

			<xs:complexType name="getPromotersByOffice">
				<xs:sequence>
					<xs:element name="certificate" type="xs:string"
						minOccurs="0" />
					<xs:element name="partnerID" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getPromotersByOfficeResponse">
				<xs:sequence>
					<xs:element name="return"
						type="tns:promotersByOfficeRespMsg" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="promotersByOfficeRespMsg">
				<xs:sequence>
					<xs:element name="promotersByOfficeList"
						type="tns:promotersByOfficeDataType" nillable="true"
						minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="promotersByOfficeDataType">
				<xs:sequence>
					<xs:element name="collaboratorID" type="xs:string"
						minOccurs="0" />
					<xs:element name="collaboratorName" type="xs:string"
						minOccurs="0" />
					<xs:element name="salesOfficeName" type="xs:string"
						minOccurs="0" />
					<xs:element name="subdirection" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="getPromotersByOffice">
		<part name="parameters" element="tns:getPromotersByOffice" />
	</message>
	<message name="getPromotersByOfficeResponse">
		<part name="parameters" element="tns:getPromotersByOfficeResponse" />
	</message>
	<portType name="getPromotersByOffice">
		<operation name="getPromotersByOffice">
			<input
				wsam:Action="http://gentera.com.mx/getPromotersByOffice/getPromotersByOfficeRequest"
				message="tns:getPromotersByOffice" />
			<output
				wsam:Action="http://gentera.com.mx/getPromotersByOffice/getPromotersByOfficeResponse"
				message="tns:getPromotersByOfficeResponse" />
		</operation>
	</portType>
	<binding name="promotersByOfficePortBinding" type="tns:getPromotersByOffice">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getPromotersByOffice">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="getPromotersByOffice">
		<port name="promotersByOfficePort"
			binding="tns:promotersByOfficePortBinding">
			<soap:address
				location="http://10.130.5.169:8080/medicos/getPromotersByOffice" />
		</port>
	</service>
</definitions>